<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>People</title>

        <!-- Tab icon -->
        <link rel="icon" href="/svgs/board.svg" />

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
            rel="stylesheet"
        />

        <!-- Styles -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/reset.css" />
        <style>
            body { margin: 0; font-family: Arial, Helvetica, sans-serif; }
            .topnav { overflow: hidden; background-color: #333; } .topnav a {
            float: left; color: #f2f2f2; text-align: center; padding: 14px 16px;
            text-decoration: none; font-size: 35px; } .topnav a:hover {
            background-color: #ddd; color: black; } .topnav a.active {
            background-color: #04AA6D; color: white; }
        </style>
    </head>

    <body>
        <!-- Header -->
        <header
            class="fixed-top header shadow d-flex justify-content-between gap-5 px-4 py-3 bg-white"
        >
            <a href="/all-courses" class="logo mr-3">
                <!-- <img src="svgs/logo.svg" alt="Logo" /> -->
                <h2>ClassRoom</h2>
            </a>
            <Centre>
                <h1> Cloud Computing </h1>
            </Centre>
        </header>

        <!--Banner-->
        <section
            class="d-flex flex-column gap-1 space-header banner px-3 rounded"
        >
            <div class="topnav">
                <a href="/materials/{{this.cid}}">Stream</a>
                <a href="/upload/{{this.cid}}">Classwork</a>
                <a href="/people/{{this.cid}}">People</a>
            </div>
        </section>

        <!-- Teacher -->
        <section class="container border py-4 bg-white space-header">
            <div>
                <h2 class="text-success border-bottom pb-3 mb-4">Teacher</h2>

                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <span class="fs-5">Teacher</span>
                    </div>
                </div>
            </div>
        </section>

        <!-- Requests -->
        <section class="container mt-4 border py-4 bg-white">
            <div>
                <h2 class="text-success border-bottom pb-3 mb-4">Classmates</h2>
            </div>

            <form class="d-flex gap-2 mb-4 border-bottom pb-3">
                <div class="flex-grow-1">
                    <input
                        type="email"
                        class="form-control py-2"
                        placeholder="Find student by username"
                    />
                </div>
                <button type="submit" class="btn btn-primary">Find</button>
            </form>

            <ul class="d-flex flex-column gap-4">
                {{#each student}}
                    <li
                        class="d-flex align-items-center justify-content-between"
                    >
                        <div class="d-flex align-items-center">
                            <span class="fs-5">{{this}}</span>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </section>
    </body>

</html>