<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <!-- Tab icon -->
    <link rel="icon" href="svgs/board.svg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/reset.css" />

    <!-- Scripts -->
    <script src="js/main.js" defer></script>
    
  </head>
  <body>
    <div class="mt-5 col-10 col-md-7 col-lg-3 text-center mx-auto"  style="border:5px solid grey;padding-left:50px;padding-right:50px" >
      <h1 class="fs-2">Sign Up</h1>
      <div class="board">
        <img src="svgs/board.svg" alt="Board" />
      </div>

      <form action="/add-user" method="post">
        
        <label >Select Student or Teacher</label>
        <select name="isTeacher" class="form-control" id="exampleFormControlSelect1">
          <option value="student">Student</option>
          <option value="teacher">Teacher</option>
        </select>
        
        <br>
        <div class="mb-3">
          <input class="form-control py-3" placeholder="Username" name="username" required/>
        </div>
        
        <div class="mb-3">
          <input
            type="password"
            class="form-control py-3"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control py-3"
            placeholder="Confirm Password"
            name="confirmpassword"
            required
          />
        </div>
        
        <div class="mb-3">
          <input class="form-control py-3" placeholder="First name" name="firstName" required/>
        </div>

        <div class="mb-3">
          <input class="form-control py-3" placeholder="Last name" name="lastName" required/>
        </div>
        
        <div class="mb-3">
          <input type="email" class="form-control py-3" name="email" placeholder="Email" required />
        </div>
        <div class="mb-3">
          <input class="form-control py-3" name="phoneNo" placeholder="Phone" required/>
        </div>
        <div class="mb-3">
          <input class="form-control py-3" name="sem" placeholder="Semester" type="number" required/>
        </div>
        <div  class="flex-center my-4">
        </div>
        <center>
        <button type="submit" style="width:100%" class="py-3 btn btn-primary">
          Sign In
        </button>
         <br>
        <button style="width:100%" class="py-3 btn btn-dark" onclick="window.location.href='register'">Sign Up</button>
        </center>
        </div>
    </form>
    </div>
  </body>
</html>
