<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

    <!-- Tab icon -->
    <link rel="icon" href="./svgs/board.svg" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/reset.css" />
    
  </head>

  <body>
    <div class="mt-5 col-10 col-md-7 col-lg-3 text-center mx-auto">
      <h1 class="fs-2">Sign Up</h1>
      <div class="board">
        <img src="svgs/board.svg" alt="Board" />
      </div>
      <p class="fs-2">Please fill your information</p>

      <form action="/add-user" method="post">
        {{!-- <div class="mb-3">
          <input
            type="email"
            class="form-control py-3"
            placeholder="Username"
            name="username"
          />
        </div> --}}
        <div class="mb-3">
          <input class="form-control py-3" placeholder="Username" name="username" required/>
        </div>
        
        <div class="mb-3">
          <input
            type="password"
            class="form-control py-3"
            placeholder="Password"
            name="password"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control py-3"
            placeholder="Confirm Password"
            name="confirmpassword"
            required
          />
        </div>
        
        <div class="mb-3">
          <input class="form-control py-3" placeholder="First name" name="firstName" required/>
        </div>

        <div class="mb-3">
          <input class="form-control py-3" placeholder="Last name" name="lastName" required/>
        </div>
        
        <div class="mb-3">
          <input type="email" class="form-control py-3" name="email" placeholder="email" required />
        </div>
        <div class="mb-3">
          <input class="form-control py-3" name="phoneNo" placeholder="Phone" required/>
        </div>
        <div class="mb-3">
          <input class="form-control py-3" name="sem" placeholder="Semester" type="number" required/>
        </div>
        <div  class="flex-center my-4">
          <span class="me-2">Birthday</span>
          <input name="dateOfBirth" type="date" required />
        </div>
        <div class="mb-3">
          <input type="textarea" class="form-control py-3" name="address" placeholder="address" required/>
        </div>
        </div>
        

        <button type="submit" value="register" class="w-100 btn py-3 btn-primary">
          Sign Up
        </button>
        <a href="login">Login</a>
      </form>
    </div>
  </body>
</html>
